.creditScoreContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .creditGenericText{
    font-size: 20px;
    color: white;
  }
  .creditScoreNumber{
    font-size: 90px;
    color: #c0f074;
  }
}
